*{
  box-sizing: border-box;
}


body{
  margin: 0;
  font-family: 'Comic Neue', cursive;
}

.header{
  background-color: #FFC017;
  position: fixed;
}
.mainSec{
  background-color: #FFC017;
}
.mainTitle{
  font-size: 6rem;
  font-family: 'Times New Roman' ,  serif;
}
.mainTxt{
  font-size: 24px;
  font-weight: 400;
}
.proName{
  font-size: 12px;
  font-weight: 500;
}
.myTrendNewsTitle{
  font-size: 16px;
  font-weight: 700;
}
.cardFooter>span{
  font-size: 12px;
  font-weight: 400;
  color: #757575;
}
.trendNewsHeader{
  font-size: 11px;
  font-weight: 700;
  color: #292929;
  margin: 0;
}